<div class="background-image"></div>
<div class="blue-overlay"></div>
<div class="slider">
  <div id="left-arrow">
    <i class="fa-solid fa-circle-left" style="font-size: 2.5rem; color: #7181a3; cursor: pointer;"></i>
  </div>
  <div id="film-container">
    <img class="cover" src="/images/carrousel/logo-el-padrino-carrousel.webp" alt="" width="300">
    <div class="film-info">
      <span class="release-year">1972</span>
      <span class="duration">2h 56min</span>
      <span class="quality">HD</span>
    </div>
    <span class="limit-age">16+</span>
    <div class="action-buttons">
      <button id="add-film"><span class="plus-button"><i class="fa-solid fa-plus fa-sm"></i></span>Añadir</button>
      <button id="like-film"><i class="fa-regular fa-heart"></i></button>
    </div>
  </div>
  <div id="right-arrow">
    <i class="fa-solid fa-circle-right"  style="font-size: 2.5rem; color: #7181a3; cursor: pointer;"></i>
  </div>
</div>