<header id="header">
    <h1 class="logo">BluBox</h1>
    <nav id="menu-nav">
      <a href="/" class="link-nav">Inicio</a>
      <a href="#" class="link-nav">Mi colección</a>
      <a href="#" class="link-nav">Catálogo</a>
      <a href="/support" class="link-nav">Soporte</a>
    </nav>
    <a href="/login" class="login-link">
      <i class="fa-regular fa-user"></i>
    </a>
  </header>