<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/ef48f4e9ad.js" crossorigin="anonymous"></script>
    <title>BluBox - Login</title>
</head>
<body>
    
    <%- include('partials/main-menu') %> 

    <section id="login-hero-section">
        <h1>Iniciar sesión</h1>
        <h2>Inicia sesión para poder acceder a tu colección, visualizar películas y<br> organizar todas tus copias. Si no tienes una cuenta, pulsa <a href="/register">aquí</a>.</h2>

        <div class="login-container">
            <form method="post" action="/">
              <label for="username">Usuario:</label>
              <input type="text" id="username" name="username" required>
          
              <label for="password">Contraseña:</label>
              <input type="password" id="password" name="password" required>
          
              <div class="options-row">
                <label class="remember">
                  <input type="checkbox" name="remember">Recuérdame
                </label>
                <a href="#" class="forgot-password">He olvidado mi contraseña</a>
              </div>
          
              <button type="submit" id="iniciar-sesion-btn">Iniciar sesión</button>
            </form>
          </div>
    </section>
    <dialog id="dialog">
      <p>¡Sesión iniciada correctamente!</p>
    </dialog>
    
</body>
<script src="/javascripts/code.js"></script>
</html>