/*SLIDER */

div.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-image: url("/images/carrousel/el-padrino.webp");
    background-size: cover;
    background-position: center;
}
  
div.blue-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: var(--blue-overlay-gradient); 
    pointer-events: none;
}

div.slider {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div#film-container {

        margin-left: -700px;
        align-items: flex-start;
    
        div.film-info {
    
            margin-top: 15px;
            display: flex;
            gap: 15px;
    
            span.release-year, 
            span.duration {
                color: var(--pure-white);
                margin: 0;
            }
    
            span.quality {
                margin: 0;
                font-size: 0.8rem;
                margin: 0;
                padding: 2px 6px 0px 6px;
                border: 2px solid rgb(161, 161, 161);
                border-radius: 5px;
                color: rgb(161, 161, 161);
                font-weight: bold;
            }
        }
    
        span.limit-age {
            align-self: flex-start;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            font-size: 0.8rem;
            padding: 2px 6px 0px 6px;
            background: var(--age-limit);
    
        }
    
        div.action-buttons {
    
            display: flex;
            gap: 20px;
    
            button {
    
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 1rem;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                background: var(--pure-white);
                border: 0px;
                border-radius: 8px;
                color: var(--blue-text-on-item);
                padding: 10px 20px;
                cursor: pointer;
                margin-top: 30px;
    
                span.plus-button {
                    padding: 1px 3px;
                    border: 2px solid var(--blue-text-on-item);
                    border-radius: 30px;
                    font-size: 0.7rem;
    
                    i.fa-solid fa-plus fa-sm {
                            
                        font-size: 0.2rem;
                        color: var(--blue-text-on-item);
                    }
                }
            }
        }
    } 
}

/*ÚLTIMAS PELÍCULAS AÑADIDAS - SECCIÓN*/

section#latest-added-films {

    min-height: 100vh;

    h1 {
        color: var(--pure-white);
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 50px;
    }
    
    div.cards-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;

        div.card-inner {
            width: 300px;
            height: 160px;        
            overflow: hidden;
            border-radius: 20px; 
            
            img {
                width: 100%;
                height: 100%; 
                object-position: center; 
            }
        }
    }    
}

/*CREA TU PROPIA COLECCIÓN - SECCIÓN*/

section#join-us-section {

    height: 60vh;

    div#join-us {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        h1 {
            color: var(--pure-white);
            font-size: 2.5rem;
        }
    
        h2 {
            color: var(--pure-white);
            font-weight: 400;
        }
    
        a#login {
            align-self: safe;
            padding: 10px 20px;
            border-radius: 10px;
            background: var(--pure-white);
            color: var(--blue-text-in-items);
            font-weight: 500;
            text-decoration: none;
        }
    }
}