

/* LOGIN HERO SECTION */

section#login-hero-section {

    padding-top: 50px;

    h1 {
        color: var(--pure-white);
        font-size: 3rem;
        font-weight: 300;
    }

    h2 {
        color: var(--pure-white);
        font-weight: 300;

        a {
            color: white;
        }
    }

    .login-container {
        margin-top: 40px;
        width: 400px;
    }

    form {
        height: 350px;
    }
      
    form label {
        color: var(--pure-white);

    }

    input {
        font-size: 1.1rem;
    }
      
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 10px;
        margin: 5px 0px 15px 0px;
        font-size: 1.1rem;
        
    }

    input[type="password"] {
        margin-bottom: 5px;

        
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
      
    .options-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
      
    .remember {
        color: var(--pure-white);
    }
      
    .forgot-password {
        color: var(--pure-white);
        font-size: 15px;
        text-decoration: none;
        
    }
      
    button#iniciar-sesion-btn {
        padding: 10px 20px;
        border: 0px;
        border-radius: 10px;
        background: var(--pure-white);
        color: black;
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    button#iniciar-sesion-btn:hover {
        transform: scale(1.05);
        transform: translateY(-3px);
        box-shadow: 0px 0px 20px #7181a3;
    }
}