:root {
    --main-blue: #0D2051;
    --pure-white: #ffffff;
    --blue-text-on-item: #18284C;
    --condition: #219A3F;
    --age-limit: #FF8D28;
    --platform: #0088FF;

    --blue-overlay-gradient: linear-gradient(180deg,rgba(13, 32, 81, 0.658) 0%, rgba(13, 32, 81, 1) 100%);
}